h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 20px;
}

td {
    text-align: center;
}

thead {
    background: rgb(238, 238, 238);
}

input[type="button"] {
    background: none;
    border: none;
    cursor: pointer;
}

#td_btn_remove {
    background: none;
    border: none;
}

#btn_add {
    background-image: url("../images/add_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#btn_edit {
    background-image: url("../images/edit_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

#btn_remove {
    background-image: url("../images/remove_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

